.App {
  /*text-align: center;*/
}

.App-logo {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

.App-header {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
