.card {
    display: flex;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 375px;
    height: 210px;
    flex-direction: row;
    transition: 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05) all;
}
.card:hover{
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 5px 5px 5px #C7C7C7;
}
.addIcon{
    position: fixed;
    bottom:15px ;
    right: 15px;
    font-size: 70px;
    color: #6A469D;
    transition: 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05) all;
}
.addIcon:hover{
     font-size: 75px;
     color: limegreen;
 }

.imageContainer {
    display: block;
    width: 150px;
}

.imageContainer img {
    max-height:100%;
}

.cardDataContainer{
    display: flex;
    flex: 5;
    flex-direction: column;
}
.cardData {
    display: flex;
    flex: 4;
    flex-direction: column;
    border-bottom: solid #6A469D 1px;
    padding: 0 10px;
}
.cardEditField{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
.movieTitle{
    margin-top: 0;
    font-size: larger;
    font-weight: bold;
}
.idField{
    font-size: smaller;
    color:gainsboro;
}
.editButton{
    border-color: white;
    border-radius: 5px;
    color: #6A469D;
    background-color:  rgba(0, 0, 0, 0.02);
}
.editButton:hover{
    border-radius: 5px;
    border-color: white;
    background-color: lightslategray;
    opacity: 0.8;
}

.deleteIcon{
    font-size: 22px;
    width: 10px;
    align-self: flex-end;
    margin-top: -10px;
}
.deleteIcon:hover{
    color: #E33C2E;
}
.titleField{
    padding: 0;
    margin: 0px 0px 0px 0px;
}
.ratingField{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.reactStars{
    display: inline-block;

}
.field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.boldField{
    font-weight: bold;
}
.genreDetails{
    word-break: break-word;
}